<!doctype html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js">
.class{
  bg-color:green
  font-color:blue
  }
</script>
</head>
<body>
<div class="class">
<label>Name:</label>
<input type="text" ng-model="name" placeholder="Pleae enter your name"><br><br>
<label>Salary:</label>
<input type="number" ng-model="salary" placeholder="Please enter your salary per month">
<hr>
<h1><b>Hello {{name}}, below are your totals.</b></h1>
<h2>per annum salary is: {{(salary)*12}}INR</h2>
<h2>Your PF is: {{((salary)*12)/100}}INR</h2>
<h3>Your DA is: {{((salary)*4)/100}}INR</h3>
<h4>Your TA is: {{((salary)*1)/100}}INR</h4>          
</div>
</body>
</html>
